<div ng-controller="playlistFromTracklistCtrl">
	<div ng-include="'tracklist.html'"></div>
	<form novalidate angular-validator
		angular-validator-submit='create(playlist)' name='createPlaylistForm'>
		<div class="form-group ">
			<label for="name">name</label> <input type="text" id="name"
				name="name" class="form-control" ng-model="playlist.name" required>
		</div>
		<div class="form-group">
			<label for="uri_scheme">uri_scheme</label> <input type="text"
				id="uri_scheme" name="uri_scheme" class="form-control" disabled="disabled"
				ng-model="playlist.uri_scheme" required>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>